extends layout

mixin value(description, item)
  if item
    p= description + ": "+ item
  else
    p= description + ": undefined"

mixin spec(description, item)
  h4= description
  if item
    +value("SR", item.SR)
    +value("WL", item.SR)
    +value("Damage, heal, prevented per game", item.SR)

mixin class(description, item)
  h3= description
  if item
    +value("SR", item.SR)
    +value("WL", item.SR)
    +value("Damage, heal, prevented per game", item.SR)


block content
  #content
    h2= PLAYER.name

    +value( "Warlords SR: " , PLAYER.warlords_sr.SR)
    +value( "Warlords KD: " , PLAYER.warlords_sr.KD)
    +value( "Warlords KDA: " , PLAYER.warlords_sr.KDA)
    +value( "Games Played: " , PLAYER.warlords_sr.WL)
    +value( "Win Loss Ratio: " , PLAYER.warlords_sr.plays)
    +value( "Damage , Healing Prevented: " , PLAYER.warlords_sr.DHP)

    //Paladin///======================================================

    +class("Paladin", PLAYER.warlords_sr.paladin)
    +spec("Avenger", PLAYER.warlords_sr.paladin.avenger)
    +spec("Protector", PLAYER.warlords_sr.paladin.protector)
    +spec("Crusader", PLAYER.warlords_sr.paladin.crusader)

    //Mage///=========================================================

    +class("Mage", PLAYER.warlords_sr.mage)
    +spec("Pyromancer", PLAYER.warlords_sr.mage.pyromancer)
    +spec("Aquamancer", PLAYER.warlords_sr.mage.aquamancer)
    +spec("Cryomancer", PLAYER.warlords_sr.mage.cryomancer)


    //Warrior///======================================================

    +class("Warrior", PLAYER.warlords_sr.warrior)
    +spec("Berserker", PLAYER.warlords_sr.warrior.berserker)
    +spec("Defender", PLAYER.warlords_sr.warrior.defender)


    //Shaman///======================================================
    +class("Shaman", PLAYER.warlords_sr.shaman)
    +spec("Thudnerlord", PLAYER.warlords_sr.shaman.thunderlord)
    +spec("Earthwarden", PLAYER.warlords_sr.shaman.earthwarden)

    h3 Warrior

    +value( "warrior damage dealt: " , PLAYER.warlords.damage_warrior)
    +value( "warrior damage prevented: " , PLAYER.warlords.damage_prevented_warrior)
    +value( "warrior life leeched: " , PLAYER.warlords.heal_warrior)
    +value( "warrior plays: " , PLAYER.warlords.warrior_plays)
    +value( "warrior wins: " , PLAYER.warlords.wins_warrior)
    +value( "warrior losses: " , PLAYER.warlords.losses_warrior)

    h3 Paladin

    +value( "paladin damage dealt: " , PLAYER.warlords.damage_paladin)
    +value( "paladin damage prevented: " , PLAYER.warlords.damage_prevented_paladin)
    +value( "paladin heal: " , PLAYER.warlords.heal_paladin)
    +value( "paladin plays: " , PLAYER.warlords.paladin_plays)
    +value( "paladin abuse: " , PLAYER.warlords.wins_paladin)
    +value( "paladin losses: " , PLAYER.warlords.losses_paladin)

    h3 Mage

    +value( "mage damage dealt: " , PLAYER.warlords.damage_mage)
    +value( "mage damage prevented: " , PLAYER.warlords.damage_prevented_mage)
    +value( "mage heal: " , PLAYER.warlords.heal_mage)
    +value( "mage plays: " , PLAYER.warlords.mage_plays)
    +value( "mage wins: " , PLAYER.warlords.wins_mage)
    +value( "mage losses: " , PLAYER.warlords.losses_mage)

    h3 Shaman

    +value( "shaman damage dealt: " , PLAYER.warlords.damage_shaman)
    +value( "shaman damage prevented: " , PLAYER.warlords.damage_prevented_shaman)
    +value( "shaman heal: " , PLAYER.warlords.heal_shaman)
    +value( "shaman plays: " , PLAYER.warlords.shaman_plays)
    +value( "shaman wins: " , PLAYER.warlords.wins_shaman)
    +value( "shaman losses: " , PLAYER.warlords.losses_shaman)

    h3 Berserker

    +value( "berserker plays: " , PLAYER.warlords.berserker_plays)
    +value( "berserker damage: " , PLAYER.warlords.damage_berserker)
    +value( "berserker damage prevented: " , PLAYER.warlords.damage_prevented_berserker)
    +value( "berserker heal: " , PLAYER.warlords.heal_berserker)
    +value( "berserker life leeched " , PLAYER.warlords.life_leeched_berserker)
    +value( "berserker wins: " , PLAYER.warlords.wins_berserker)
    +value( "berserker losses: " , PLAYER.warlords.losses_berserker)

    h3 Defender

    +value( "defender abuse: " , PLAYER.warlords.defender_plays)
    +value( "defender damage: " , PLAYER.warlords.damage_defender)
    +value( "defender damage prevented: " , PLAYER.warlords.damage_prevented_defender)
    +value( "defender heal: " , PLAYER.warlords.heal_defender)
    +value( "defender wins: " , PLAYER.warlords.wins_defender)
    +value( "defender losses: " , PLAYER.warlords.losses_defender)

    h3 Pyromancer

    +value( "pyromancer plays: " , PLAYER.warlords.pyromancer_plays)
    +value( "pyromancer damage: " , PLAYER.warlords.damage_pyromancer)
    +value( "pyromancer damage prevented: " , PLAYER.warlords.damage_prevented_pyromancer)
    +value( "pyromancer heal: " , PLAYER.warlords.heal_pyromancer)
    +value( "pyromancer wins: " , PLAYER.warlords.wins_pyromancer)
    +value( "pyromancer losses: " , PLAYER.warlords.losses_pyromancer)

    h3 Cryomancer

    +value( "cryomancer plays: " , PLAYER.warlords.cryomancer_plays)
    +value( "cryomancer damage: " , PLAYER.warlords.damage_cryomancer)
    +value( "cryomancer damage prevented: " , PLAYER.warlords.damage_prevented_cryomancer)
    +value( "cryomancer heal: " , PLAYER.warlords.heal_cryomancer)
    +value( "cryomancer wins: " , PLAYER.warlords.wins_cryomancer)
    +value( "cryomancer losses: " , PLAYER.warlords.losses_cryomancer)

    h3 Aquamancer

    +value( "aquamancer plays: " , PLAYER.warlords.aquamancer_plays)
    +value( "aquamancer damage: " , PLAYER.warlords.damage_aquamancer)
    +value( "aquamancer damage prevented: " , PLAYER.warlords.damage_prevented_aquamancer)
    +value( "aquamancer heal: " , PLAYER.warlords.heal_aquamancer)
    +value( "aquamancer wins: " , PLAYER.warlords.wins_aquamancer)
    +value( "aquamancer losses: " , PLAYER.warlords.losses_aquamancer)

    h3 Avenger

    +value( "avenger plays: " , PLAYER.warlords.avenger_plays)
    +value( "avenger damage: " , PLAYER.warlords.damage_avenger)
    +value( "avenger damage prevented: " , PLAYER.warlords.damage_prevented_avenger)
    +value( "avenger heal: " , PLAYER.warlords.heal_avenger)
    +value( "avenger wins: " , PLAYER.warlords.wins_avenger)
    +value( "avenger losses: " , PLAYER.warlords.losses_avenger)

    h3 Crusader

    +value( "crusader plays: " , PLAYER.warlords.crusader_plays)
    +value( "crusader damage: " , PLAYER.warlords.damage_crusader)
    +value( "crusader damage prevented: " , PLAYER.warlords.damage_prevented_crusader)
    +value( "crusader heal: " , PLAYER.warlords.heal_crusader)
    +value( "crusader wins: " , PLAYER.warlords.wins_crusader)
    +value( "crusader losses: " , PLAYER.warlords.losses_crusader)

    h3 Protector

    +value( "protector plays: " , PLAYER.warlords.protector_plays)
    +value( "protector damage: " , PLAYER.warlords.damage_protector)
    +value( "protector damage prevented: " , PLAYER.warlords.damage_prevented_protector)
    +value( "protector heal: " , PLAYER.warlords.heal_protector)
    +value( "protector wins: " , PLAYER.warlords.wins_protector)
    +value( "protector losses: " , PLAYER.warlords.losses_protector)

    h3 Thunderlord

    +value( "thunderlord plays: " , PLAYER.warlords.thunderlord_plays)
    +value( "thunderlord damage: " , PLAYER.warlords.damage_thunderlord)
    +value( "thunderlord damage prevented: " , PLAYER.warlords.damage_prevented_thunderlord)
    +value( "thunderlord heal: " , PLAYER.warlords.heal_thunderlord)
    +value( "thunderlord wins: " , PLAYER.warlords.wins_thunderlord)
    +value( "thunderlord losses: " , PLAYER.warlords.losses_thunderlord)

    h3 Earthwarden

    +value( "earthwarden plays: " , PLAYER.warlords.earthwarden_plays)
    +value( "earthwarden damage: " , PLAYER.warlords.damage_earthwarden)
    +value( "earthwarden damage prevented: " , PLAYER.warlords.damage_prevented_earthwarden)
    +value( "earthwarden heal: " , PLAYER.warlords.heal_earthwarden)
    +value( "earthwarden wins: " , PLAYER.warlords.wins_earthwarden)
    +value( "earthwarden losses: " , PLAYER.warlords.losses_earthwarden)

    h3 GENERAL GARBAGE

    +value( "assists: " , PLAYER.warlords.assists)
    +value( "damage: " , PLAYER.warlords.damage)
    +value( "deaths: " , PLAYER.warlords.deaths)
    +value( "heal: " , PLAYER.warlords.heal)
    +value( "damage prevented: " , PLAYER.warlords.damage_prevented)
    +value( "damage taken: " , PLAYER.warlords.damage_taken)
    +value( "kills: " , PLAYER.warlords.kills)
    +value( "life leeched: " , PLAYER.warlords.life_leeched)
    +value( "wins: " , PLAYER.warlords.wins)
    +value( "blue wins: " , PLAYER.warlords.wins_blu)
    +value( "red wins: " , PLAYER.warlords.wins_red)
    +value( "losses: " , PLAYER.warlords.losses)
    +value( "penalty: " , PLAYER.warlords.penalty)

    +value( "CTF Wins: " , PLAYER.warlords.wins_capturetheflag)
    +value( "CTF Wins on Blue: " , PLAYER.warlords.wins_capturetheflag_blu)
    +value( "CTF Wins on Red: " , PLAYER.warlords.wins_capturetheflag_red)
    +value( "the FUCK: " , PLAYER.warlords.flag_conquer_team)
    +value( "Flags Captured: " , PLAYER.warlords.flag_conquer_self)

    +value( "Dominigger Wins: " , PLAYER.wins_domination)
    +value( "Dom Wins on Blue: " , PLAYER.wins_domination_blu)
    +value( "Dom Wins on Red: " , PLAYER.wins_domination_red)

    +value( "TDM Wins: " , PLAYER.wins_teamdeathmatch)
    +value( "TDM Wins on Blue: " , PLAYER.wins_teamdeathmatch_blu)
    +value( "TDM Wins on Red: " , PLAYER.wins_teamdeathmatch_red)
